 <title>Profil du {{club.name}}</title>
<header>
        <!-- Logo du club -->
        <img id="club-logo" src={{club.path}} alt="Logo du Club" style="border-radius: 50%;">
        <!-- Nom du club -->
        <h1 id="club-name">{{club.name}}</h1>
    </header>

    <div id="club-info">
        <!-- Informations supplémentaires du club -->
        <p><strong>Date de creation :</strong>{{club.creationDate | date:'dd MMMM yyyy' }}</p>
        <p><strong>Field :</strong>{{club.field}}</p>
        <!-- Ajoutez d'autres informations du club selon vos besoins -->
    </div>
  <!-- In your Angular template (HTML) -->

<div class="event-container">
    <h1>{{ club.name }}'s events</h1>

    <div class="event-grid-container d-flex justify-content-center align-items-center" style="border: 1px solid black; border-radius: 10px; margin-bottom: 20px;">
      <div class="event-grid">
        <div class="row justify-content-center">
          <div *ngFor="let event of events; let i = index" class="col-md-4 mb-3 d-flex justify-content-center">
            <app-minieventcard [event]="event"></app-minieventcard>
          </div>
        </div>
      </div>
    </div>
    

    <div class="col-md-12 text-center">
                <!-- Back button -->
                <button *ngIf="isLoggedInClub()" class="btn btn-primary btn-lg btn-dark" (click)="create_event()">create event</button>
    </div>
    
    <!-- <div class="event-grid-container" style="border : 1px solid black">
      <div class="event-grid">
        <div class="row" [ngClass]="{'justify-center': events.length % 3 !== 0}" >
          <div *ngFor="let event of events; let i = index" class="col-md-4 d-flex justify-content-center">
            <app-minieventcard [event]="event" ></app-minieventcard>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row mt-3">
    <div class="col-md-12 text-center">
        <!-- Participate button -->
        <button *ngIf="isLoggedInUser()" class="btn btn-primary btn-lg btn-dark" (click)="become_member()">Become a member</button>
    </div>
    <div class="col-md-12 text-center mt-3">
        <!-- Add some space here -->
    </div>
    <div class="col-md-12 text-center">
        <!-- Back button -->
        <button *ngIf="isLoggedInClub()" class="btn btn-primary btn-lg btn-dark" style="margin-bottom: 10px;" (click)="show_participants()">show members</button>
    </div>
</div>
</div>
  


