body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

#club-logo {
    max-width: 200px; /* Adjust the size of the logo as needed */
    max-height: 200px;
    margin-top: 20px;
}

#club-name {
    margin-top: 10px;
    font-size: 24px;
}

#club-info {
    margin-top: 20px;
    text-align: center;
}
.event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .event-grid-container {
    max-width: 1200px; /* Adjust as needed */
    padding: 0 10px; /* Add padding to the container */
    margin: auto;
  }
  
  .event-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* This will center the cards */
    gap: 10px; /* This will ensure space between the cards */
  }
  
  .col-md-4 {
    width: calc(33.33% - 20px); /* Adjust width and margin as needed */
    margin: 10px;
    box-sizing: border-box; /* Ensure that padding and borders are included in the width */
  }
  
  /* Media query to handle responsiveness */
  @media (max-width: 767px) {
    .col-md-4 {
      width: calc(50% - 20px);
    }
  }

