<div class="card my-3 mx-2" style="width: 12rem;border-color: white;border-width: 2px;">
    <img src={{event.logo_path}} class="card-img-top" alt="event logo">
    <div class="card-body">
        <h5 class="card-title">{{event.name}}</h5>
        <p class="card-text">{{event.date | date:'dd MMMM yyyy' }}</p>
        <button href="/more" class="btn btn-primary" style="background-color: black; width: 100%;" (click)="detail()">view more</button>
    </div>
    <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
    </div>
</div>
