.latest-section{
  padding-left: 130px;
  padding-right: 130px;
  padding-bottom: 130px;
  background-color: var(--primary-color);
}
.card-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}