<div class="container my-3">
  <div class="row">
    <div class="card shadow-effect">
      <div class="card-body py-4">
       
        <h1 class="mt-3 mb-3">{{ post.name }}</h1>
        <p>{{ post.text }}</p>

        <div class="d-flex justify-content-end align-items-center mt-3">
          <button type="button" class="btn custom-btn-size" [ngClass]="{'liked': isLiked}" (click)="toggleLike()">
            Like
          </button>
          <h6 class="like-count">{{ likeCount }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
