<div class="card">
  <img src="https://images.pexels.com/photos/16861541/pexels-photo-16861541/free-photo-of-bois-paysage-ciel-soleil.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post-image" class="card-img-top">
  <div class="card-body">
    <small class="bg-light text-danger text-center"> Design </small>
    <small class="bg-light text-success text-center ml-3">   Featured </small>
    <small class="bg-light text-info text-center ml-3">  Views - 100,412 </small>
    <h5 class="mt-1">Randonnée à Bou Argoub</h5>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <small class="bg-light text-warning text-center ml-3"> Last Updated - SEP 20, 2023</small>
  </div>
</div>